.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 18px mediumslateblue;
}
.heading_div
{
    float:none;
    background:wheat;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 36px aquamarine;
    color: black;
}
.heading_div2
{
    font-size: 18px;
}
.result_para_tag
{
    box-shadow: 5px 5px 60px gray;
    font-size: 20px;
}
.copyright_footer
{
    position: fixed;
    color: white;
    bottom: 0%;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px grey;
    margin-top: 150px;
}